<% if (errors && errors.length > 0) { %>
        <div class="alert alert--error">
            <ul>
                <% errors.forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        </div>
    <% } %>