<nav>
    <ul class="nav">
        <li class = "nav-item logo">
            <a class="nav-link" href="/">
                <!-- <img src="/images/logo.jpg" alt="logo" class="logo-image"> -->
                The Iron Vault</a>
        </li>
        <li class="nav-item link">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item link">
            <a class="nav-link" href="/categories/new">New Category</a>
        </li>
        <li class="nav-item link">
            <a class="nav-link" href="/items/new">New Item</a>
        </li>
        <li class="nav-item link">
            <a class="nav-link" href="/items">Items</a>
        </li>
    </ul>
</nav>