<nav class="nav">
    <div class="nav__container">

        <a href="/" class="nav__logo">
            The Iron Vault
        </a>

        <div class="nav__links">
            <a class="nav__link" href="/categories">Categories</a>
            <a class="nav__link" href="/items">Items</a>
            <a class="nav__link" href="/categories/new">New Category</a>
            <a class="nav__link" href="/items/new">New Item</a>
        </div>

    </div>
</nav>